

#list{
	width: 600px;
	height: 514px;
	border: 2px solid #ccc;
	float: right;
}

#user{
	width: 340px;
	height: 250px;
	border: 2px solid #ccc;
	float: left	;
}

#pics{
	width: 340px;
	height: 250px;
	border: 2px solid #ccc;
	float: left	;
	margin:10px 0 0 0;
}

  






