

#list{
	width: 600px;
	height: 514px;
	border: 2px solid #ccc;
	float: right;
}

#list a.post{
	display: block;
	width: 114px;
	height: 33px;
	background: url('../../images/aricle.jpg');
	text-indent: -9999px;
	margin: 15px 10px 0 auto;
}

#list ul.article{
	padding: 0 40px;
	margin-top: 20px;
}
#list ul.article li em{
	float: right;
	font-style: normal;

}

#list ul.article li{
	border-bottom: 1px solid #eee;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
}

#list ul.article li.icon1{
	background: url('../../images/icon1') no-repeat left center;
	
}
#list ul.article li.icon2{
	background: url('../../images/icon2') no-repeat left center;
	
}
#list ul.article li.icon3{
	background: url('../../images/icon3') no-repeat left center;
	
}
#list ul.article li.icon4{
	background: url('../../images/icon4') no-repeat left center;
	
}
#list ul.article li.icon5{
	background: url('../../images/icon5') no-repeat left center;
	
}
#list ul.article li.icon6{
	background: url('../../images/icon6') no-repeat left center;
	
}
#list ul.article li.icon7{
	background: url('../../images/icon7') no-repeat left center;
	
}
#list ul.article li.icon8{
	background: url('../../images/icon8') no-repeat left center;
	
}
#list ul.article li.icon9{
	background: url('../../images/icon9') no-repeat left center;
	
}
#list ul.article li.icon10{
	background: url('../../images/icon10') no-repeat left center;
	
}
#user{
	width: 340px;
	height: 250px;
	border: 2px solid #ccc;
	float: left	;
}

#pics{
	width: 340px;
	height: 250px;
	border: 2px solid #ccc;
	float: left	;
	margin:10px 0 0 0;
}

  
#user dl {
	width:150px;
	margin: 0 auto;
}
#user dl dt {
	width:150px;
	margin:0 0 15px 0;
}
#user dl dt img {
	margin:0 auto;
	display:block;
}
#user dl dd {
	height:20px;
	line-height:20px;
	text-align:center;
	width:75px;
	float:left;
	margin-top: 5px;
}
#user dl dd.user {
	width:150px;
	float:none;
	font-weight: bold;
	color: #999;
}

#user dl dd.flower{
	background: url('../../images/x4.gif') no-repeat -2px center;
	
}

#user dl dd.message{
	background: url('../../images/x1.gif') no-repeat left center;
	
}
#user dl dd.friend{
	background: url('../../images/x2.gif') no-repeat -2px center;
	
}

#user dl dd.guest{
	background: url('../../images/x3.gif') no-repeat left center;
	
}

#user dl dd.email{
	width: 170px;
	margin-left: -5px;
}





